div#content {
    width: 70%;
    height: 1000px;
    margin: 10px auto auto auto;
    /* border: 1px black solid; */
}

div.left {
    float: left;
    width: 70%;
    height: 1000px;
    /* border: 1px solid red; */
}

div.right {
    float: right;
    width: 25%;
    height: 800px;
    border: 1px solid blue;
}

div.carousel {
    width: 100%;
    height: 300px;
    border: 1px solid darkturquoise;
}

div.article-list {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    /* border: 1px solid darkorange; */
}

div.article {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px #b2b2b2;
}

/* div.article:hover { */
/*     background-color: #a8e0e0; */
/*     box-shadow: 5px 5px 5px gray; */

/* } */

div.article-image {
    float: left;
    width: 30%;
    height: 100%;
}

div.article-image img {
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
}

div.article-content {
    float: right;
    width: 67%;
    height: 100%;
    /* border: 1px solid red; */
}

div.article-title {
    font-size: 25px;
    font-weight: bold;
}
