#content {
    width: 1190px;
    min-height: 1000px;
    margin: 10px auto auto auto;
}

.left {
    float: left;
    width: 70%;
    min-height: 1000px;
}

.right {
    float: right;
    width: 25%;
    min-height: 800px;
}

.carousel {
    width: 100%;
    height: 300px;
    border: 1px solid darkturquoise;
}

.article-list {
    width: 100%;
    height: 600px;
    margin-top: 10px;
}

.article {
    height: 150px;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px #b2b2b2;
}

.article:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.article-image {
    float: left;
    width: 30%;
    height: 100%;
}

.article-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.article-content {
    float: right;
    width: 67%;
    height: 100%;
}

.article-title {
    font-size: 25px;
    font-weight: bold;
}

.article-title a {
    text-decoration: none;
}

.article-title a:link {
    color: black;
}

.article-title a:visited {
    color: black;
}

.read-num {
    float: right;
}

.hot-article {
    margin-top: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px #b2b2b2;
}

.right-div {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    text-align: center;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #71bdbd;
}

.hot-article ul {
    margin: auto;
    padding: 0;
}

.hot-article li {
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    padding-left: 10px;
    list-style: none;
    border-top: 1px dashed gray;
}

.hot-article a {
    text-decoration: none;
}

.hot-article a:link {
    color: dodgerblue;
}

.hot-article a:visited {
    color: dodgerblue;
}

.hot-article a:hover {
    color: #0958a4;
}

.article-label {
    margin-top: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px #b2b2b2;
}

.article-label span {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.article-label span:hover {
    background-color: #359d4c !important;
    transition: background-color .5s ease-out, color .5s;
    color: white;
}

.article-label a {
    text-decoration: none;
    /* 强制继承 span 的颜色 */
    color: inherit !important;
}

.article-label a:link {
    color: black;
}

.article-label a:visited {
    color: black;
}

