html {
    /* 设置滚动条离顶部的距离，防止锚点定位被导航栏遮挡 */
    scroll-padding-top: 60px;
    /* 锚点平滑滚动 */
    scroll-behavior: smooth
}

p {
    margin-bottom: 0;
}

h1, h2 {
    margin-bottom: 0;
    border-bottom: 1px solid gainsboro;
}

blockquote {
    margin: 0;
    padding-left: 20px;
    border-left: 4px solid gainsboro;
}

blockquote > ul {
    margin: 0;
}

blockquote > ul > li {
    margin-top: 10px;
}

#condom {
    overflow: hidden;
    width: 1200px;
    margin: auto;
    padding-bottom: 10px;
}

#detail {
    width: 1190px;
    margin: 10px auto auto auto;
}

#detail a {
    transition: color .5s ease-in-out;
}

#detail a:link {
    color: dodgerblue;
}

#detail a:visited {
    color: dodgerblue;
}

#detail a:hover {
    color: mediumblue;
}

.left {
    float: left;
    overflow: hidden;
    width: 70%;
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px gainsboro;
}

.right {
    float: right;
    width: 25%;
}

.catalog {
    position: fixed;
    top: 69px;
    width: 277.5px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px gainsboro;
}

.catalog div {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
}

.catalog ul {
    margin: 0;
    padding: 0;
}

.catalog li {
    display: block;
    margin-top: 10px;
}

#back-top {
    position: fixed;
    z-index: 10;
    bottom: 160px;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background-color .5s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    /* visibility: visible; */
    border: none;
    border-radius: 10px;
    background-color: white;
    background-image: url("../images/backtop.png");
    background-size: 30px 30px;
    box-shadow: 0 0 5px gainsboro;
}

#back-top:hover {
    background-color: gainsboro;
}

#back-top img {
    width: 30px;
}
