label {
    font-weight: bold;
    line-height: 35px;
    float: left;
    width: 67px;
}

input {
    font-size: 15px;
    float: right;
    width: 240px;
    height: 29px;
    border-radius: 5px;
}

button {
    color: whitesmoke;
    border-radius: 5px;
    background-color: dodgerblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    width: 320px;
    margin: auto;
}

#title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
}

.form {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.code input {
    float: left;
    width: 140px;
    margin-left: 5px;
}

.code button {
    float: right;
    width: 90px;
    height: 35px;
}

.register {
    font-size: 20px;
    margin-top: 20px;
}

.register a {
    transition: color .5s ease-in-out;
    color: dodgerblue;
}

.register a:hover {
    color: midnightblue;
}
