body {
    margin: auto;
    background-color: aliceblue;
}

header {
    /* 固定导航栏 */
    position: sticky;
    z-index: 10;
    top: 0;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 3px solid dodgerblue;
    background-color: white;
    box-shadow: 0 2px 2px gainsboro;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 -2px 2px gainsboro;
    border-bottom: 3px solid dodgerblue;
}

hr {
    width: 1190px;
}

#nav {
    width: 1190px;
    margin: auto;
}

#nav > a > img {
    float: left;
    width: 40px;
}

#nav ul {
    float: left;
    height: 40px;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 10px;
}

#nav li a {
    font-size: 22px;
    line-height: 40px;
}

#nav li a:link {
    color: dimgray;
}

#nav li a:visited {
    color: dimgray;
}

#nav li a:hover {
    color: black;
}

#nav > div {
    float: right;
}

.input {
    float: left;
    margin-top: 3px;
}

#search {
    width: 140px;
    height: 30px;
    margin: auto;
    padding-right: 4px;
    padding-left: 4px;
    transition: width .5s ease-in-out;
    border: 1px solid #d6deee;
    border-radius: 10px;
    box-shadow: 0 0 5px #d6deee;
}

#search:focus {
    width: 200px;
    outline: none;
    box-shadow: 0 0 5px dodgerblue;
}

.login {
    float: right;
    margin-top: 8px;
    margin-left: 10px;
}

.login a {
    font-size: 17px;
    padding: 4px 6px 4px 6px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    transition: box-shadow .5s ease-in-out;
}

.login a:hover {
    box-shadow: 0 0 5px mediumblue;
}

.footer {
    width: 1190px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.href img {
    width: 20px;
    height: 20px;
}
