body {
    margin: auto;
    background-color: aliceblue;
}

header {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-top: 3px solid dodgerblue;
    box-shadow: 0 5px 5px gainsboro;
}

#nav {
    width: 1190px;
    margin: auto;
}

#nav > a > img {
    float: left;
    width: 40px;
}

#nav ul {
    float: left;
    height: 40px;
    /* margin-top: 3px; */
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 10px;
}

#nav a {
    font-size: 22px;
    text-decoration: none;
    line-height: 40px;
}

#nav a:link {
    color: dimgray;
}

#nav a:visited {
    color: dimgray;
}

#nav a:hover {
    color: black;
}

#nav > div {
    float: right;
    margin-top: 4px;
}

#search {
    width: 140px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    transition: width .5s ease-in-out;
    border: 1px solid #d6deee;
    box-shadow: 0 0 5px #d6deee;
}

#search:focus {
    width: 200px;
    outline: none;
    box-shadow: 0 0 5px dodgerblue;
}
